.normal {
    background-color: #01010144;
}
.fire {
    background-color: #01010144;
}
.water {
    background-color: #01010144;
}
.grass {
    background-color: #01010144;
}
.elec {
    background-color: #01010144;
}
.ice {
    background-color: #01010144;
}
.fight {
    background-color: #01010144;
}
.poison {
    background-color: #01010144;
}
.ground {
    background-color: #01010144;
}
.flying {
    background-color: #01010144;
}
.esper {
    background-color: #01010144;
}
.bug {
    background-color: #01010144;
}
.rock {
    background-color: #01010144;
}
.ghost {
    background-color: #01010144;
}
.dragon {
    background-color: #01010144;
}
.dark {
    background-color: #01010144;
}
.steel {
    background-color: #01010144;
}
.fairy {
    background-color: #01010144;
}

